<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Registration Form</h1>

    <form action="/register" method="POST">
        <div>
             <label for="name"></label>
             <input type="text" name="name" id="name">
        </div>

        <br>
        <div>
             <label for="age"></label>
             <input type="text" name="age" id="age">
        </div>

        <br>

        <button type="submit">Register</button>
    </form>
</body>
</html>